
.bc{
    padding: 2px;
    background: white;
    border-radius: 3px;
    margin:0px;
   border:1px solid gray;

   text-align: center;
   }
   .marg{
    margin-bottom:5px;
   }

.sty{
    padding-top: 10px;
    margin: 10px;
}
.color1{
    color:green;
}
.color2{
    color: deepskyblue;
}
.color3{
    color: yellowgreen;
}
.color4{
    color:yellow ;
}
.color5{
    color: purple;
}
.color6{
    color: gray;
}
.size{
    font-size: small;
}