<ion-header>
  <ion-toolbar style="--background: hsl(202, 80%, 66%);">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/'></ion-back-button>
    </ion-buttons>
    <ion-title>marketing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sty"> <h4>Ticket Status</h4>
    <div class="marg">
      <ion-row>
      <!-- <ion-col size="1"></ion-col> -->
      <ion-col size="4" class="bc">
        <div class="color1"> 20k</div>
        <div class="size">Created</div>
      </ion-col>
      <ion-col size="4" class="bc">
        <div class="color2">17K</div>
        <div class="size"> Solved</div>
      </ion-col>
      <ion-col size="4" class="bc">
        <div class="color3"> 472</div>
        <div class="size"> Open</div>
      </ion-col>
      <!-- <ion-col size="1"></ion-col> -->
    </ion-row>
  </div>
  <div class="marg">
    <ion-row>
      <ion-col size="4" class="bc">
        <div class="color4"> 802</div>
        <div class="size">Reopened</div>
      </ion-col>

      <ion-col size="4" class="bc">
        <div class="color5"> 209</div>
        <div class="size"> Deleted</div>
      </ion-col>
      <ion-col size="4" class="bc">
        <div class="color6"> 937</div>
        <div class="size"> Other</div>
      </ion-col>
    </ion-row>
  </div>
  </div>

</ion-content>