.bc{
    background: gray;
    border-radius: 2px; 
   // margin: 1px;
    margin-right:1px;
    margin-bottom: -8px;
}
.bc1{
    background: rgb(209, 209, 207);
     border-radius: 2px;
    padding: 8px;
    margin-right:1px;
    margin-bottom: -8px;
   
}
.sty{

 padding: 10px;
font-size: 12px;
}
