.bc{
    background: cadetblue;
    border-radius : 8px ;
    padding: 5px;
    text-align: center;
    border: 1px solid gray;
}
.bc1{
    background:  rgb(180, 161, 83);
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    border: 1px solid gray;
}