<ion-header>
  <ion-toolbar style="--background: hsl(202, 80%, 66%);">
    <ion-buttons slot="start">
      <ion-back-button defaultHref= '/'></ion-back-button>
    </ion-buttons>
    <ion-title>employees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="light">Simple Columan Chart</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Simple Columan Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="highcharts" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>
  </ion-content>
