<ion-header>
  <ion-toolbar style="--background:#4fe0d4;">
    <ion-buttons style="color: white;" slot="start" (click)="Dismiss()">
        <ion-icon name="close"></ion-icon> 
             </ion-buttons>
      <ion-title style="color: #ffffff;"> Enter student data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>                   
    <!-- <form  [formGroup]="studentForm" (ngSubmit)="onSubmit()">
      <ion-input  type="text" placeholder="studentName" formControlName="studentName"></ion-input>
      <div class=" form-group br"> 
      <ion-input  type="text" placeholder="rollNumber" formControlName="rollNumber"></ion-input>
      <div class=" form-group br"> 
      <ion-input  type="text" placeholder="rank" formControlName="rank"></ion-input>
    
      <ion-button   color="success" type=submit value="Submit" >Submit</ion-button>
    
    </form> -->
    

</ion-content>
