<ion-header>
  <ion-toolbar style="--background:rgb(79, 224, 212);">
      <ion-buttons style="color: white;" slot="start" (click)="Dismiss()">
          <ion-icon name="close"></ion-icon> 
               </ion-buttons>
        <ion-title style="color: white;"> Enter student details</ion-title>
    <!-- <div style="float: right;"> 
      <ion-button ></ion-button></div> -->
  </ion-toolbar>
</ion-header>

<ion-content >

<div style="margin: 10px;">
                   
          <br>
            <ion-input class="br" type="text" placeholder="Name" ></ion-input>
          
            <br>
            <ion-input class="br" type="text" placeholder="Roll" ></ion-input>
            <br> 
            <ion-input class="br"  type="text" placeholder="Rank" ></ion-input>
            <br> 
            <div  style="text-align:center ;">
            <ion-button   color="success">Submit</ion-button></div>
          </div>
</ion-content>
